<div class="application">
   <form action="application">
       <input type="text" name="title" value="{{title}}">
       <input type="text" name="author" value="{{author}}">
       <input type="text" name="url">
       <input type="hidden" name="userId" value="{{userId}}">
       <button type="submit">Одобрить</button>
   </form>
</div>