<article>
    <h1>Лицензионный договор-оферта</h1>
<p>Настоящий лицензионный договор («Договор», «настоящий Договор») заключается между администрацией сайта, именуемым в дальнейшем «Лицензиат», с одной стороны, и Вами («Лицензиар»), с другой стороны (далее — «Стороны»),</p>

<br>
<br>

<b>ПРИНИМАЯ ВО ВНИМАНИЕ, ЧТО: </b>

<br>

(1) Лицензиар (физическое лицо / или юридическое лицо в лице полномочного представителя либо лица, имеющего соответствующие полномочия на основании учредительных документов), не имея ограничений относительно вступления в подобные правоотношения в соответствии с применимым законодательством, является Автором и/или обладателем исключительного права (правообладателем) на Произведение; или обладателем права использования Произведения и права предоставления Лицензиату права использования Произведения на условиях Договора;

<br>

(2) Лицензиар имеет намерение предоставить Лицензиату право использования Произведения на условиях Договора;

<br>

(3) Лицензиат имеет возможность осуществлять размещение Произведения на Интернет-ресурсах для использования на условиях Договора,

<br>

(4) Лицензиат имеет право по своему усмотрению разместить Произведение на Интернет-ресурсах либо отказаться от размещения Произведения, а также прекратить использование Произведения, в том числе без предоставления Лицензиару объяснений причин такого отказа в размещении Произведения на Интернет-ресурсах / такого прекращения использования Произведения,

договорились о нижеследующем: 

<br>

(А) Полным и безоговорочным акцептом (принятием) Лицензиаром условия Договора является осуществление нижеперечисленных действий:

Подтверждение Лицензиаром своего ознакомления с текстом Договора и своего согласия со всеми условиями Договора;

осуществление Лицензиаром регистрационных действий, включая действия по подтверждению, и предоставление Лицензиаром Произведений для размещения Лицензиатом (https://selfpub.ru/faq/first-step/#new_account)

Лицензиар подтверждает, что ознакомился с условиями сервиса «Быстрый платеж через ЮMoney» (https://yoomoney.ru/pay/page?id=526623)

<br>

Совершая указанные действия, Лицензиар обязуется надлежаще исполнять все взятые на себя обязательства по Договору и принимает на себя всю полноту ответственности за соблюдение законодательства (в том числе о защите интеллектуальных прав).

С момента совершения Лицензиаром вышеназванных действий по акцептированию Договора, Договор считается заключенным.

<br>

(B) Размещение Лицензиатом Договора для всеобщего сведения по адресу https://selfpub.ru/offer_upgrade означает принятие Лицензиатом на себя всех обязательств по Договору.

<br>

(C) Стороны согласились с тем, что настоящая форма Договора применяется для удобства Сторон, заключение Договора подобным образом является надлежащим оформлением возникновения прав и обязанностей Сторон, не ущемляет прав и интересов ни одной из Сторон, и не является само по себе основанием для заявления о недействительности или незаключенности Договора.

В Договоре и в Приложениях к нему Стороны согласились с однозначным толкованием терминов и понятий:

<br>

Произведения (каждое в отдельности — «Произведение») — охраняемые результаты интеллектуальной деятельности: тексты литературных произведений (включая их переводы), их названия, предисловия, аннотации, статьи и т. д., Графические изображения, записанные в различных (в том числе цифровых) форматах, пригодных для их воспроизведения, то есть изготовления одного и более экземпляра Произведения или его части в любой материальной форме, в том числе в форме звукозаписи, путем записи в память ЭВМ; и распространения экземпляров Произведения в любой форме, а также доведения Произведения до всеобщего сведения через сеть Интернет или иные сети передачи данных. 

<br>

Графические изображения — обложки, иллюстрации, фотографии, произведения дизайна, прочие изображения. 

<br>

Авторы — авторы Произведений (в том числе авторы Графических изображений, переводчики, составители, либо иные авторы производных или составных произведений). 

<br>

Каталог — перечень всех Произведений, используемых Лицензиатом (в том числе предоставленных Лицензиату на основании договоров с другими лицензиарами). 

<br>

Карточка Произведения — размещаемая Лицензиатом на Интернет-ресурсах информация о Произведении, включая обложку, название Произведения, имя автора (авторов), имя (наименование) правообладателя, аннотация, прочие необходимые сведения. 

<br>

Карточка Автора — размещаемая Лицензиатом на Интернет-ресурсах информация об Авторе (https://selfpub.ru/account/profile/) 

<br>

ЭВМ — электронно-вычислительная машина, которая может быть подключена к сети Интернет для записи, хранения, воспроизведения и/или чтения, просмотра Произведений. При этом любые подобные устройства, включая мобильные устройства связи, в том числе, но не ограничиваясь: мобильные телефоны, КПК, смартфоны и т. д., также являются и признаются в тексте настоящего Договора ЭВМ. 

<br>

Пользователи — физические или юридические лица, принявшие условия пользовательских соглашений Лицензиата, его аффилированных лиц либо его партнеров, и получившие доступ к Произведениям на Интернет-ресурсах. 

<br>

Интернет-ресурсы — Сайты, Мобильные приложения, иные ресурсы на усмотрение Лицензиата (Список Интернет-ресурсов находится по адресу: https://selfpub.ru/domains/). 

<br>

Сайты — веб-сайты в сети Интернет, обозначенные доменными именами, владельцами (администраторами) которых является Лицензиат, его аффилированные лица либо его партнеры. 

<br>

Мобильные приложения — компьютерные программы, права на которые принадлежат Лицензиату, его аффилированным лицам либо его партнерам, используемые в мобильных телефонах, смартфонах, коммуникаторах или иных устройствах, с помощью которых Пользователи получают доступ к Произведениям 



<br>

Отпускная цена Произведения — цена, по которой Произведение передается Лицензиату для распространения в печатной форме, указанная в Карточке Произведения. 

<br>

Отчетный период — согласованный Сторонами период, равный одному календарному кварталу года (три месяца). Первый Отчетный период устанавливается с момента начала размещения Лицензиаром Произведений на Интернет-ресурсах (при принятии Лицензиатом решения о размещении Произведений на Интернет-ресурсах), и заканчивается в последний день соответствующего календарного квартала года. 

<br>

Отчет — документ, содержащий сведения об использовании каждого Произведения способами, указанными в п.1.2. Договора (в случае принятия Лицензиатом решения о размещении Произведений на Интернет-ресурсах), размер суммы причитающегося Лицензиару вознаграждения, подлежащего выплате Лицензиатом Лицензиару за Отчетный период, иную согласованную Сторонами информацию. (Отчет доступен по адресу: https://selfpub.ru/statistics/) 

<br>

Личный кабинет — создаваемая Лицензиатом личная конфиденциальная страница Лицензиара на Интернет-ресурсах, защищаемая логином и паролем, на которой хранится информация по статистике использования Произведений, начислению вознаграждения, состояние взаиморасчетов, прочая необходимая информация в рамках исполнения Договора. 
<br>
В настоящем Договоре могут быть использованы иные термины, выше не определенные, толкование которых будет производиться в соответствии с текстом Договора и/или применимым законодательством. В случае отсутствия однозначного толкования термина в тексте Договора и/или в применимом законодательстве, следует руководствоваться толкованием термина, сложившимся в сети Интернет и в практике делового оборота.
<br>
Лицензиар предоставляет Лицензиату в объеме и на условиях, определенных Договором, права на использование Произведений, перечень и описание которых доступны по адресу https://selfpub.ru/books/, нижеследующими способами:

<br>

1.1. воспроизводить неограниченное количество раз каждое Произведение, то есть изготавливать без ограничения количества экземпляров Произведения или их части в любой материальной форме, включая, но не ограничиваясь, печатную форму, электронную форму (в том числе в форме звукозаписи, если это отдельно согласовано с Лицензиаром) в цифровых и иных форматах, которые известны к настоящему моменту, и которые станут известны в будущем, оптической или иной машиночитаемой форме (в том числе в различных текстовых форматах) путем записи в память ЭВМ, а также путем записи на любые иные материальные носители по усмотрению Лицензиата, в следующих целях: 
<br>
A) в целях предварительного ознакомления с текстом Произведения и оценки на предмет принятия решения о его размещении на Интернет-ресурсах для коммерческого использования способами, указанными в п. 1.2 Договора; 
<br>
B) в целях (в случае принятия Лицензиатом положительного решения относительно такого размещения) размещения Произведения на Интернет-ресурсах для коммерческого использования способами, указанными в п. 1.2 Договора; 
<br>
C) в целях создания резервных копий Произведения; 
<br>
D) в иных правомерных целях по усмотрению Лицензиата. 
<br>
Права использования Произведений способами, указанными в п.1.1., предоставляются Лицензиату безвозмездно (без права требования Лицензиаром от Лицензиата какой-либо выплаты за такое использование). 
<br>


1.2. сообщать (доводить до всеобщего сведения) Произведения, воспроизведенные путем записи в память ЭВМ согласно п. 1.1. Договора и размещенные в цифровой форме на Интернет-ресурсах, таким образом, что любое лицо может получить доступ к каждому Произведению из любого места и в любое время по собственному выбору, в том числе в интерактивном режиме, в цифровых сетях, включая сеть Интернет, локальные цифровые сети, сети сотовой связи, иные средства доступа к ресурсам, на которых воспроизведены Произведения, путем:

<br>

1.2.1. показа (демонстрации) Пользователям фрагментов Произведений с помощью технических средств для чтения Произведений в режиме реального времени («онлайн»). При этом может осуществляться загрузка и временное локальное хранение (кэширование) Произведений (фрагментов Произведений) в оперативной памяти оборудования Пользователей с целью обеспечения технической возможности Пользователю читать Произведения в режиме реального времени («онлайн»);
<br>


1.2.1.1. В целях продвижения Произведений Лицензиат имеет право размещать на Интернет-ресурсах отдельные фрагменты Произведений в свободном доступе. Размер таких фрагментов не должен превышать 25% (двадцать пять процентов) объема текста Произведения.
<br>


1.2.2. предоставления возможности Пользователям возмездного воспроизведения (копирования) Произведения (как полностью, так и отдельных его фрагментов) на пользовательское оборудование (записи в память оконечного оборудования ЭВМ либо иных устройств) таких Пользователей (в цифровых форматах, которые известны на дату подписания настоящего Договора, и которые станут известны в будущем). При этом доступ к Произведению (фрагментам Произведения) предоставляется каждому Пользователю, оплатившему стоимость копирования этого Произведения (фрагментов Произведения), без ограничения срока, в т.ч. и после прекращения использования этого Произведения Лицензиатом в связи с окончанием срока действия права на использование этого Произведения на условиях Договора либо по иным причинам. Допускается запись одного и того же Произведения (фрагментов Произведения), оплаченного Пользователем, в память ЭВМ нескольких устройств.

<br>

1.3. распространять воспроизведенные в печатной или иной материальной форме согласно п.1.1. Договора Произведения путем реализации воспроизведенных материальных носителей Произведения среди Пользователей (предоставления возможности Пользователям возмездного приобретения экземпляров Произведения посредством Интернет-ресурсов) без ограничений по тиражу.

<br>

1.3.1. самостоятельно и/или посредством третьих лиц (в том числе аффилированных лиц Лицензиата) по своему усмотрению предоставлять экземпляры Произведений в Российскую Книжную Палату и/или иные органы для получения необходимых справок, прочих документов и/или осуществления иных правомерных действий в соответствии с применимым законодательством.

<br>

1.4. Карточка Произведения остается в распоряжении Лицензиата и по окончании срока использования этого Произведения. (Карточка Произведения остается доступной Пользователям на Интернет-ресурсах, а воспроизведенное ранее Произведение в соответствии с п.1.1. Договора, остается в памяти ЭВМ (на серверах) Лицензиата).

<br>

1.5. Порядок и условия предоставления прав в отношении Аудиозаписей указан в Приложении № 3 к Договору. 

<br>

2. Произведения предоставляются Лицензиату на условиях: 
<br>
·A) исключительной лицензии (без сохранения за Лицензиаром права выдачи лицензий другим лицам, при этом Лицензиар не вправе сам использовать Произведения в тех пределах, в которых право использования Произведений предоставлено Лицензиату по договору) 
<br>
B) простой (неисключительной) лицензии (с сохранением за Лицензиаром права выдачи лицензий другим лицам).

<br>

2.1. Выбор типа лицензии в отношении каждого из Произведений Лицензиар осуществляет самостоятельно при предоставлении Произведений (https://selfpub.ru/faq/license/)

<br>

2.2. Лицензиар вправе менять тип лицензии в отношении уже предоставленных Произведений. Изменения вступают в силу с началом следующего календарного месяца.

<br>

3. Территория, на которой допускается использование Произведений: территория всех стран и государств мира.
<br>


4. Срок использования Произведений: в течение срока действия Договора (см. п. 15. настоящего Договора).

<br>

5. Порядок начисления и выплаты вознаграждения Лицензиару. За предоставленные в рамках Договора права использования Произведений Лицензиат обязуется выплачивать Лицензиару вознаграждение в следующем размере: 

<br>

5.1. Ставки вознаграждения Лицензиара и порядок их применения:

<br>

5.1.1. Базовая ставка вознаграждения:
<br>


A. Права на Произведения, размещаемые в виде электронных текстов: 
<br>
35 % от сумм, уплаченных конечными Пользователями при возмездном использовании Произведений, предоставленных Лицензиаром на условиях исключительной лицензии согласно п. 1.2.2; 
<br>
25 % от сумм, уплаченных конечными Пользователями при возмездном использовании Произведений, предоставленных Лицензиаром на условиях простой (неисключительной) лицензии согласно п. 1.2.2; 

<br>

B. Права на Фонограммы (Аудиозаписи) Произведений:
<br>
25% от сумм, уплаченных конечными Пользователями при возмездном использовании Произведений, предоставленных Лицензиаром на условиях исключительной лицензии согласно п. 1.5.; 
<br>
20% от сумм, уплаченных конечными Пользователями при возмездном использовании Произведений, предоставленных Лицензиаром на условиях простой (неисключительной) лицензии согласно п. 1.5.; 
<br>
 

C. Печатная форма Произведений:
<br>
10 % от Отпускной цены Произведений, предоставленных Лицензиаром на условиях исключительной лицензии согласно п. 1.3.


<br>


5.1.2. Базой для расчета вознаграждения является сумма, уплаченная Пользователями, за вычетом комиссий Интернет-ресурсов, а также косвенных налогов, применимых по месту нахождения Пользователей: НДС, налога с продаж и других косвенных налогов. 

<br>

5.1.3. Во избежание сомнений, Лицензиат по своему усмотрению принимает решение о размещении Произведений на Интернет-ресурсах. Обязательства по выплате Лицензиару вознаграждения возникают у Лицензиата только в случае принятия Лицензиаром положительного решения относительно размещения Произведений, фактического размещения Произведений на Интернет-ресурсах в соответствии с п.1.2. Договора, и получения Лицензиатом от Пользователей денежных сумм за получение доступа к Произведениям на Интернет-ресурсах. Никаких иных выплат за использование Произведений Лицензиат не осуществляет, а Лицензиар не вправе требовать. В случае принятия Лицензиатом решения о неразмещении Произведений на Интернет-ресурсах, Договор расторгается Лицензиатом в одностороннем порядке в соответствии с п.15.3. Договора.
<br>
При предоставлении Произведений Лицензиар самостоятельно назначает стоимость возмездного использования Произведений способами, указанными в п. 1.2.2. Договора (далее — «Розничная цена»). Порядок назначения Лицензиаром Розничной цены: https://selfpub.ru/faq/pricing/

<br>

5.1.4. Назначенная Лицензиаром Розничная цена понимается как рекомендованная цена возмездного использования Произведения способами, указанными в п. 1.2.2. Договора. Фактическая цена возмездного использования способами, указанными в п. 1.2.2. Договора, может отличаться от Розничной цены, в случае включения Произведения в маркетинговые акции с целью стимулирования покупательского спроса.
<br>


5.1.5. Лицензиар может по своему усмотрению (в том числе в целях продвижения Произведений и привлечения Пользователей) предоставлять Лицензиату любые Произведения по Договору безвозмездно (без права требовать какое-либо вознаграждение за такие Произведения). В этом случае Лицензиат также предоставляет Пользователям Произведения безвозмездно.

<br>

5.1.6. Лицензиар вправе менять значение Розничной цены в отношении уже предоставленных Произведений (в том числе выбирая безвозмездное предоставление Произведения либо назначая Розничную цену на Произведение, ранее переданное безвозмездно).

<br>

5.2. Порядок расчета вознаграждения за возмездное использование Произведений способом, указанным в п. 1.2.1. Договора, описан в Приложении 1 к настоящему Договору соответственно.

<br>

5.3. Лицензиат обязуется представлять Лицензиару Статистику (Отчет) использования Произведений за Отчетный период. Отчет создается Лицензиатом при условии, что суммарное вознаграждение Лицензиара за Отчетный период и/или все Отчетные периоды, не закрытые Отчетом ранее, составит сумму не менее 1000 рублей. Указанный Отчет предоставляется Лицензиару в Личном кабинете (Личный кабинет Лицензиара создается Лицензиатом в случае принятия последним решения об использовании Произведений и размещения Произведений на Интернет-ресурсах) последнего в течение 15 (пятнадцати) рабочих дней после окончания каждого Отчетного периода. 

<br>

Также Лицензиат обеспечивает Лицензиару в Личном кабинете доступ к on-line (в режиме реального времени) статистике, отражающей информацию об использовании Произведений в текущем периоде.

<br>

5.4. Отчет за Отчетный период считается принятым Лицензиаром, если от последнего в течение 5 (пяти) рабочих дней не поступило обоснованных претензий, направленных через форму обратной связи, расположенную по адресу: https://selfpub.ru/feedback/ 
<br>

5.5. Выплата вознаграждения производится Лицензиатом на основании заявки, поданной Лицензиаром. Процедура подачи заявки описана по адресу https://selfpub.ru/faq/statistics/ При выплате вознаграждения Лицензиару Лицензиат обязан удержать сумму НДФЛ (если применимо) и произвести перечисление налога в соответствии с налоговым законодательством РФ.  

<br>

5.6. Лицензиар может подать заявку на получение вознаграждения, если сумма текущей задолженности Лицензиата перед Лицензиаром составит не менее 1000 рублей. Текущая задолженность Лицензиата перед Лицензиаром формируется посредством сложения всех невыплаченных сумм вознаграждения, указанных в принятых Лицензиаром Отчетах, и доступна Личном кабинете Лицензиара.

<br>

5.7. Лицензиат производит выплату вознаграждения Лицензиару в течение 45 (сорока пяти) банковских дней после получения заявки от него. Оплата вознаграждения Лицензиара осуществляется в рублях Российской Федерации. Денежные средства перечисляются Лицензиатом по реквизитам, которые Лицензиар указал при оформлении заявки по адресу: https://selfpub.ru/statistics/?currentTab=payments . Если Лицензиар указал неправильные (неточные) реквизиты или не сообщил своевременно об их изменениях, что могло привести к невозможности или несвоевременности перечисления денежных средств, Лицензиат не несет никакой ответственности за такие невыплаты или задержки выплат указанных денежных средств.

<br>

 5.7.1. При произведении расчетов Лицензиар (на каждую выплаченную ему сумму) через уполномоченного оператора электронной площадки и (или) уполномоченную кредитную организацию формирует и передает Лицензиату чек в электронной форме на адрес электронной почты Лицензиата: docs@litres.ru (чек может быть также выдан на бумажном носителе по договоренности Сторон. В этом случае высылается его сканированная копия надлежащего качества). Чек передается в течение 1 (одних) суток с момента поступления денежных средств на счет Лицензиара (в любом случае не позднее 9-го числа месяца, следующего за месяцем, в котором произведены расчеты в соответствии с частью 3 статьи 14 Федерального закона от 27 ноября 2018 г. N 422-ФЗ "О проведении эксперимента по установлению специального налогового режима "Налог на профессиональный доход" в городе федерального значения Москве, в Московской и Калужской областях, а также в Республике Татарстан (Татарстан)", далее – «Закон 422-ФЗ». Чек должен полностью соответствовать требованиям части 6 статьи 14 Закона 422-ФЗ. Чек обязательно должен содержать: уникальный номер чека, наименование платежа, ИНН Лицензиата, дату и время осуществления расчета, ФИО Лицензиара и его ИНН, указание на применение специального налогового режима «Налог на профессиональный доход», сумму расчета, а также иные сведения, установленные законодательством РФ. 
<br>
 5.7.2. В случае непредставления чека Лицензиат уплачивает из суммы произведенной Лицензиару оплаты НДФЛ. Указанную сумму Лицензиат удерживает из следующего начисления Лицензиару. Лицензиар.
<br>
5.7.3. В целях осуществления начисления и проведения выплат вознаграждения Лицензиару, Лицензиар обязан предоставить Лицензиату сведения, указанные в п.13.3. Договора. В случае изменений предоставленных ранее данных, Лицензиар обязан уведомить об этом Лицензиата через поддержку по электронному адресу support@selfpub.ru. В случае выявления расхождений в представленных Лицензиаром данных Лицензиат оставляет за собой право уведомить об этом Лицензиата и перенести начисление вознаграждения и проведения выплат Лицензиару до получения необходимых сведений.
<br>


5.8. Лицензиат вправе возложить обязанности по исполнению своих денежных обязательств перед Лицензиаром на любое третье лицо (включая, но не ограничиваясь, аффилированных лиц Лицензиата). При этом Стороны договорились, что исполненное денежное обязательство Лицензиата перед Лицензиаром любым третьим лицом считается исполненным лицом, надлежаще уполномоченным на то Лицензиатом, а Лицензиар обязан принять такое исполнение.

<br>

5.8.1 Руководствуясь вышеизложенным, Лицензиат по своему усмотрению имеет право возложить обязанности по исполнению своих денежных обязательств перед Лицензиаром в том числе на Компании:
<br>
ОМИКО ТРЕЙДИНГ ЛИМИТЕД / OMIKO TRADING LIMITED (создана и зарегистрирована в соответствии с законодательством Республики Кипр, рег.номер HE184207, место нахождения: 8, Zinonos Kitieos, Kato Lakatamia, 2322 Nicosia, Cyprus)
<br>
6. Во избежание каких-либо недоразумений, Стороны согласовали, что в случае, если в соответствии с законодательством государства, резидентом которого является Лицензиар, вознаграждение Лицензиара является объектом налогообложения, ответственность за декларирование доходов и исчисление налогов лежит на Лицензиаре, перечисление сумм налогов осуществляется Лицензиаром самостоятельно и за свой счет. Лицензиат не выступает налоговым агентом и не передает сведения о доходах Лицензиара в налоговые и прочие государственные органы.

<br>

7. Лицензиар соглашается с тем, что в целях исполнения Договора:

<br>

7.1. Лицензиат вправе в любой момент и на свое усмотрение (без получения дополнительного разрешения от Лицензиара) передавать полностью или частично своим аффилированным лицам, своим партнерам, а равно как и любым иным третьим лицам, предоставляемые по Договору права (предоставлять сублицензии) в отношении всех и любых Произведений при обязательном соблюдении при этом условий настоящего Договора, устанавливающих размер вознаграждения Лицензиара, а также сроки и порядок выплаты такого вознаграждения (если договор возмездный). Указанные условия означают, что расчет и выплата вознаграждения Лицензиара по настоящему Договору при передаче Лицензиатом прав третьим лицам будет производиться Лицензиатом в соответствии с условиями соответствующих Приложений к Договору.

<br>

7.2. Лицензиат имеет право заключать по своему усмотрению партнерские (агентские либо иные) договоры с владельцами (администраторами) соответствующих доменных имен либо с иными правомочными лицами, осуществляющими управление Сайтами либо иными Интернет-ресурсами, на которых Лицензиат осуществляет размещение Произведений для использования способами, указанными в Договоре.

<br>

7.3. Лицензиат по своему усмотрению определяет, размещать или не размещать Произведения, а также по своему усмотрению определяет те Интернет-ресурсы, на которых будут размещаться Произведения, также Лицензиат может прекращать использование Произведений на определенных Интернет-ресурсах и/или перемещать Произведения на иные Интернет-ресурсы.

<br>

8. Лицензиар обязуется, заверяет и гарантирует:

<br>

8.1. Лицензиар является именно тем лицом, которое приняло условия Договора, при этом Лицензиар обязуется исполнить требования Лицензиата по подтверждению (https://selfpub.ru/faq/registration/).

<br>

8.2. Ни одно из Произведений не является плагиатом (ни в целом, ни в какой-либо части), не содержит в себе клеветы, покушений на права третьих лиц и не может представлять основания для обоснованного судебного иска.
<br>


8.3. Лицензиар является обладателем исключительного права (правообладателем) на Произведение, то есть Произведение создано творческим трудом Лицензиара (Лицензиар является автором Произведения) и при этом на момент заключения Договора Лицензиар не осуществил передачу (отчуждение) исключительного права на Произведение иным лицам, либо он (Лицензиар) получил исключительное право на Произведение по договору отчуждения либо иным законным путем, или он (Лицензиар) имеет право использования Произведения на основании лицензионного договора, заключенного с автором или иным правообладателем, с правом предоставления лицензии Лицензиату на условиях настоящего Договора.

<br>

8.4. Лицензиар имеет все права на заключение Договора, права на использование Произведений способами, предусмотренными настоящим Договором, приобретены им в соответствии с требованиями законодательства, ни одно из Произведений не содержит в себе авторского материала, права на который не принадлежат Лицензиару. В случае получения Лицензиатом каких-либо требований, претензий и/или исков в отношении Произведений, используемых в рамках настоящего Договора, Лицензиар обязан предоставлять Лицензиату все имеющиеся у него документы, подтверждающие права Лицензиара на такие Произведения, в течение 3 (трех) рабочих дней с момента получения требования Лицензиата.

<br>

8.5. Лицензиар гарантирует, что использование Произведений в соответствии с положениями Договора не влечет за собой нарушение каких-либо прав и законных интересов третьих лиц.

<br>

8.6. Лицензиар обязуется предоставлять Лицензиату полную и достоверную информацию о Произведениях, в том числе информацию о названии Произведения, а также обо всех соавторах, в том числе правильно указывать их имена (псевдонимы).

<br>

8.6.1. Лицензиар самостоятельно разрешает вопросы, связанные с отношениями между соавторами Произведений, в том числе в части распределения между соавторами доходов от использования Произведений на условиях Договора. Лицензиар гарантирует, что вознаграждение, указанное в п. 5 настоящего Договора, полностью исчерпывает право Лицензиара на получение вознаграждения за использование Произведений и что никакие дополнительные выплаты в адрес как Лицензиара, так и любых третьих лиц (Авторов, иных правообладателей) не должны производиться Лицензиатом.
<br>


8.7. Лицензиар гарантирует и несет полную ответственность за соответствие содержания и оформления Произведений требованиям применимого законодательства (приведены по следующему адресу: https://selfpub.ru/faq/restrictions/)

<br>

8.8. Лицензиар гарантирует, что предоставляемые по Договору Произведения в цифровых форматах не будут содержать вирусов, червей, троянов или подобных вредоносных компонентов.

<br>

8.9. Лицензиар обязуется осуществлять контроль за тем, чтобы третьи лица, также использующие Произведения на основании лицензионных договоров с Лицензиаром (Иные лицензиаты) предоставляли эти Произведения своим Пользователям на тех же условиях, что и Лицензиат (стоимость Произведений, предоставляемых своим Пользователям Иными лицензиатами, должна быть не ниже, чем минимальная стоимость Произведений, установленная Лицензиатом) Если Лицензиату станет известно, что стоимость Произведений, реализуемых Иными лицензиатами, ниже, чем минимальная стоимость Произведения, установленная Лицензиатом, Лицензиат вправе (предварительно уведомив Лицензиара, и при непринятии последним соответствующих мер в течение 24 часов с момента получения такого уведомления) уменьшить минимальную стоимость Произведений, установленную в соответствующем Приложении к Договору, до стоимости аналогичных Произведений, предоставляемых Иными лицензиатами. При этом расчет вознаграждения Лицензиара будет производиться (в соответствии с Договором и Приложениями) от этой (измененной) минимальной стоимости Произведения с момента установления Лицензиатом этой новой стоимости Произведения по основаниям, изложенным выше. В указанных случаях надлежаще выполненным будет считаться уведомление, отправленное Лицензиатом по адресу электронной почты Лицензиара. В подтверждение этих фактов Лицензиат прилагает к этому уведомлению соответствующие скриншоты либо иные доказательства.

<br>

8.10. Лицензиар обязуется предоставлять Лицензиату полную и достоверную информацию о себе: правильно указать свое имя (псевдоним), указываемое в Произведении.

<br>

8.11. Лицензиар обязуется точно и корректно указать адрес своей электронной почты. При этом Лицензиар несет полную ответственность за правильность указанного им адреса электронной почты. Все сообщения, переданные Лицензиатом Лицензиару по указанному последним адресу его электронной почты, считаются надлежаще доставленными Лицензиатом и полученными Лицензиаром. Если по каким-либо причинам адрес электронной почты Лицензиара меняется, Лицензиар обязан незамедлительно сообщить об этом Лицензиату. До получения от Лицензиара сообщения об изменении адреса его электронной почты Лицензиат направляет все сообщения по тому адресу электронной почты, который ранее указал Лицензиар.

<br>

8.12. Лицензиар обязуется хранить в тайне и не разглашать третьим лицам логин и пароль для доступа к Личному кабинету (если Личный кабинет был создан Лицензиатом для Лицензиара).

<br>

8.13. Лицензиар обязуется точно и корректно указывать свои банковские реквизиты, по которым Лицензиат осуществляет Лицензиару выплаты вознаграждения за использование Произведений (см. также п.5.7. Договора). В случае их изменения Лицензиар обязуется незамедлительно сообщить об этом Лицензиату.

<br>

8.14. В случае изменения паспортных и/или иных личных данных Лицензиара, сообщенных Лицензиату, Лицензиар обязуется незамедлительно сообщить об этом Лицензиату.

<br>

9. Лицензиат обязуется, заверяет и гарантирует:

<br>

9.1. Лицензиат имеет возможность осуществлять размещение Произведений на Интернет-ресурсах в соответствии с Договором.

<br>

9.2. Лицензиат обязуется использовать Произведения в соответствии с Договором.

<br>

9.3. Лицензиат обязуется соблюдать права Лицензиара на Произведения.

<br>

9.4. Лицензиат гарантирует, что не будет использовать Произведения любым образом, кроме как теми способами, что прямо отражены в Договоре.

 <br>

10. Сторона, не исполнившая или ненадлежащим образом исполнившая обязательства по Договору, обязана возместить другой Стороне причиненные таким неисполнением или ненадлежащим исполнением (обоснованные и документально подтвержденные) убытки.

<br>

10.1. В случае нарушения условий Договора Сторона, чье право нарушено, вправе также потребовать признания права, восстановления положения, существовавшего до нарушения права, а также прекращения действий, нарушающих право или создающих угрозу его нарушения.

<br>

10.2. В случае нарушения одной из Сторон (далее — «Сторона-нарушитель») любого из положений по Договору, другая Сторона (далее — «потерпевшая Сторона») вправе отказаться от исполнения Договора как полностью, так и в любой его части по усмотрению потерпевшей Стороны и потребовать от «Стороны-нарушителя» возмещения причиненных убытков (реального ущерба). Упущенная выгода не возмещается ни при каких обстоятельствах.
<br>


10.3. В случае предъявления Лицензиату третьими лицами законных и обоснованных имущественных требований в связи с использованием Произведений, Лицензиар обязуется своими силами и за свой счет урегулировать с указанными третьими лицами упомянутые требования.

<br>

10.4. Лицензиар заявляет и гарантирует, что он (Лицензиар) урегулирует все и любые претензии (включая, но не ограничиваясь, судебные иски, административное преследование, пр.) третьих лиц по всем и любым вопросам, связанным с использованием Произведений по настоящему Договору, самостоятельно и за свой счет, в случае возникновения таковых претензий. При этом Лицензиар приложит все возможные усилия для урегулирования этих претензий без привлечения Лицензиата. В случае привлечения Лицензиата (досудебное, судебное, иные разбирательства) Лицензиар примет все необходимые меры для освобождения Лицензиата от необходимости прямого участия в этих разбирательствах (вступление по своей инициативе в дело третьим лицом на стороне Лицензиата, непрепятствование рассмотрению дела с участием Лицензиара в качестве соответчика, надлежащего ответчика — в случае принятия судом соответствующего постановления, и т. д.). В случае возникновения у Лицензиата убытков, связанных с вышеизложенным (включая все возможные возмещения, компенсации, штрафы, судебные расходы и издержки, пр.), Лицензиар обязуется возместить их Лицензиату по требованию последнего в срок, не превышающий 10 (десять) рабочих дней с момента получения соответствующего требования от Лицензиата.

 <br>

11. Ограничение ответственности Лицензиата.

<br>

11.1. Лицензиат не гарантирует бесперебойную и правильную работу Интернет-ресурсов, которые работают в режиме «как есть», без каких-либо прямых или косвенных гарантий того, что Интернет-ресурсы могут подходить или не подходить для конкретных целей использования.

<br>

11.2. Лицензиар уведомлен и согласен с тем, что Лицензиат не может гарантировать получения Лицензиаром дохода от использования Произведений в желаемом Лицензиаром объеме, так как это непосредственно зависит от интереса к Произведениям со стороны Пользователей.

<br>

11.3. Ни при каких обстоятельствах Лицензиат не несет ответственности за взлом и/или использование третьими лицами адреса электронной почты Лицензиара, а также за неработоспособность почтового ящика электронной почты Лицензиара.

<br>

11.4. Ни при каких обстоятельствах Лицензиат не несет ответственности за использование третьими лицами логина и пароля доступа к Личному кабинету.

<br>

11.5. Объем ответственности Лицензиата ограничивается суммами начисленного Лицензиару вознаграждения за использование Произведений в соответствии с разделом 5 Договора.

 <br>

12. Любая из Сторон освобождается от ответственности за неисполнение или ненадлежащее исполнение своих обязанностей по настоящему Договору в случае действия обстоятельств непреодолимой силы.

<br>

12.1. Под обстоятельствами непреодолимой силы понимаются обстоятельства, имеющие чрезвычайный, неотвратимый и непредвиденный характер, исключающие или объективно препятствующие исполнению настоящего Договора, наступление которых Стороны не могли предвидеть и предотвратить разумными мерами. Для целей настоящего Договора к ним также относятся: сбои в телекоммуникационных и энергетических сетях, действия вредоносных программ (вирусов), а также недобросовестные действия третьих лиц, выразившиеся в несанкционированном доступе и/или выведении из строя программного и/или аппаратного комплекса одной из Сторон, если Стороны предприняли необходимые и достаточные меры для их предотвращения.

<br>

12.2. Сторона, ссылающаяся на действие обстоятельств непреодолимой силы, должна в случае технической возможности письменно уведомить другую сторону о наступлении таких обстоятельств в течение 5 (пяти) календарных дней.

<br>

12.3. Если Сторона, ссылающаяся на действие обстоятельств непреодолимой силы, не уведомила другую сторону о наступлении таких обстоятельств в порядке, предусмотренном выше, такая Сторона утрачивает право ссылаться на действие вышеуказанных обстоятельств в случае неисполнения своих обязанностей по настоящему Договору. 
<br>
Если обстоятельства непреодолимой силы действуют более 3-х месяцев подряд, каждая из Сторон имеет право отказаться от настоящего Договора.

 <br>

13. Стороны признают, что любая информация, передаваемая ими друг другу в рамках настоящего Договора (в том числе условия расчета и выплаты вознаграждения), является коммерческой тайной, за исключением информации, не признаваемой таковой в силу применимого законодательства.
<br>


13.1. Стороны не вправе разглашать эту информацию третьим сторонам без письменного согласия Стороны-владельца информации, за исключением случаев, предусмотренных применимым законодательством.

<br>

13.2. За разглашение конфиденциальной информации Стороны несут ответственность в порядке, предусмотренном применимым законодательством.

<br>

13.3. Лицензиар предоставляет свою персональную информацию (персональные данные) Лицензиату, его аффилированным лицам, партнерам и иным лицам на условиях настоящего Договора. При осуществлении действий по регистрации и подтверждению (https://selfpub.ru/faq/registration/) Лицензиар сообщает Лицензиату свои персональные данные: имя и (или) псевдоним как автора Произведения для публикации, а также фамилию, имя, отчество, данные документа, удостоверяющего личность, дату рождения, ИНН, СНИЛС, адрес электронной почты, контактный телефон, платежные реквизиты. Лицензиат имеет право обрабатывать персональные данные Лицензиара в течение срока исполнения Лицензиатом своих обязательств перед Лицензиаром по Договору, а также в течение сроков, установленных требованиями законодательства Российской Федерации. 

<br>

13.4. Для исполнения своих обязательств по Договору Лицензиат собирает и хранит только необходимые персональные данные Лицензиара. Лицензиат при обработке персональных данных принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного доступа к ним.

<br>

14. Любые возникшие споры и разногласия, вытекающие из/или в связи с настоящим Договором, решаются путем переговоров Сторон. Если эти споры и разногласия не могут быть разрешены путем переговоров Сторон, они подлежат рассмотрению в соответствующем компетентном суде.

 <br>

15. Договор вступает в силу с момента его заключения (акцептования Лицензиаром) и действует в течение одного (1) года («Основной Срок»). По истечении вышеуказанного срока Договор будет автоматически пролонгироваться каждый раз на один (1) год («Дополнительный Срок»), если ни одна из сторон не заявит о своем желании его расторгнуть в следующем порядке:

<br>

15.1. Лицензиар вправе в любой момент по своему усмотрению расторгнуть Договор, как полностью, так и в части использования отдельного Произведения, уведомив об этом Лицензиата не позднее чем за 30 (тридцать) календарных дней до даты такого расторжения.

<br>

15.2. Лицензиат вправе в любой момент по своему усмотрению расторгнуть Договор, как полностью, так и в части использования отдельного Произведения, уведомив об этом Лицензиара не позднее чем за 30 (тридцать) календарных дней до даты такого расторжения.

<br>

15.3. Лицензиат вправе немедленно в одностороннем порядке приостановить действие Договора или расторгнуть Договор в случаях:
<br>
Обнаружения нарушения Лицензиаром своих обязательств, заверений и гарантий в соответствии с п.8 Договора;
поступления в адрес Лицензиата любых претензий, требований, исков со стороны третьих лиц (включая органы власти) относительно неправомерности использования Произведений;
принятия Лицензиатом решения о неразмещении Произведений на Интернет-ресурсах;
В указанных случаях Договор считается расторгнутым с момента направления Лицензиатом Лицензиару соответствующего уведомления по адресу электронной почты, указанному Лицензиаром. 

<br>

16. Лицензиат вправе время от времени вносить изменения/дополнения в текст Договора. Такие изменения/дополнения вступают в силу и становятся обязательными для Сторон с момента размещения Лицензиатом обновленной версии Договора. При этом Лицензиат гарантирует соблюдение всех взятых на себя ранее (до даты вступления в силу таких изменений/дополнений) обязательств перед Лицензиаром в отношении размещенных Произведений, включая порядок расчета, начисления и выплаты Лицензиару вознаграждения за использование этих Произведений.

<br>

17. Стороны договорились осуществлять связь в рамках исполнения Договора посредством электронной почты (адрес электронной почты Лицензиата, используемый для всех и любых сообщений в рамках исполнения настоящего Договора: mail@selfpub.ru), а также путем размещения Лицензиатом информации в Личном кабинете Лицензиара (в случае его создания Лицензиатом в соответствии с п.5.3. Договора).

<br>

18. В случае, если какие-либо положения Договора в какой-либо части будут считаться недействительными или не имеющими силу, это не повлияет на действительность остальных положений при условии, что Договор может исполняться и без таких недействительных положений.
<br>


19. Если Сторона не воспользовалась (или воспользовалась не в полной мере) каким-либо правом, данным настоящим Договором, это не будет толковаться как отказ этой Стороны воспользоваться таким правом в будущем и/или в полной мере.



20. Договор, включая Приложения к нему, а также любые их изменения, составляет полный объем договоренностей между Сторонами в отношении предмета Договора.




<br>


Приложение № 1
<br>
К ЛИЦЕНЗИОННОМУ ДОГОВОРУ-ОФЕРТЕ

<br>

администрация сайта, («Лицензиат»), с одной стороны, и Вы («Лицензиар»), с другой стороны (далее — «Стороны»), составили и подписали настоящее Приложение к Договору, определяющее размеры вознаграждения Лицензиара за использование Лицензиатом Произведений способами, указанными в п.п. 1.1, 1.2.1 Договора путем записи Произведений в память ЭВМ в целях размещения на Интернет-ресурсах согласно Договору и показа (демонстрации) воспроизведенного Произведения с помощью технических средств Пользователям для чтения в режиме реального времени («онлайн»).

<br>

1. Перечень Произведений, размеры ставок
<br>
1.1. Наименование, количество и прочая информация (за исключением условий расчета вознаграждения Лицензиара) в отношении Произведений, используемых по настоящему Приложению, указываются в п.1 Договора.
<br>
1.2. Размер вознаграждения, подлежащего перечислению Лицензиатом Лицензиару за использование каждого Произведения, рассчитывается путем умножения количества показов Страниц (как определено ниже), на Ставку (как определено ниже) и деления на 1000 (одну тысячу).
<br>
1.3. Страница — фрагмент электронной копии Произведения, доступный Пользователю для чтения в режиме «онлайн», объемом не более 30 000 знаков.
<br>
1.4. Ставка за 1000 показов страниц должна быть не менее 30 рублей.
<br>
1.5. Размер Ставки может изменяться Лицензиатом (в сторону увеличения относительно 30 рублей) самостоятельно.

<br>

2. Статистика
<br>
2.1. Лицензиат предоставляет Лицензиару круглосуточный доступ к статистике использования Произведений, размещенной в Личном кабинете Лицензиара.
<br>
2.2. Лицензиат обязуется обеспечивать техническую возможность получения Лицензиаром доступа к указанной статистике в течение всего периода действия Договора.

<br>

3. Заключительные положения
<br>
3.1. Настоящее Приложение является неотъемлемой частью Договора.

<br>

Приложение № 2
<br>
К ЛИЦЕНЗИОННОМУ ДОГОВОРУ-ОФЕРТЕ
<br>


Администрация сайта, («Лицензиат»), с одной стороны, и Вы («Лицензиар»), с другой стороны (далее — «Стороны»), заключили настоящее Дополнительное соглашение (далее – «Соглашение», «настоящее Соглашение») к Лицензионному договору-оферте (далее – «Договор») о нижеследующем:
<br>
В Соглашении и приложениях к нему Стороны согласились с однозначным толкованием терминов и понятий (поскольку такие термины и/или понятия не определены в Договоре):

<br>

Часть Произведения (Черновик) – незавершенная (имеющая незаконченный сюжет) часть (части, главы) Произведения, создаваемого Лицензиаром на условиях настоящего Соглашения.
<br>


Период обновления Черновика – установленный Лицензиаром при оформлении Карточки Произведения в своем Личном кабинете срок, в течение которого он обязуется дополнять Часть Произведения новым фрагментом текста.

<br>

Планируемый объем Произведения – установленный Лицензиаром при оформлении Карточки Произведения в своем Личном кабинете тот объем Произведения (в авторских листах), в котором Лицензиар планирует создать Произведение при публикации на условиях настоящего Соглашения.

<br>

Завершенное (полное) Произведение – Произведение, созданное на 100 % от Планируемого объема Произведения, и перемещенное Лицензиаром в иной статус размещения (обычное размещение Произведения на условиях Договора). В дату такого перемещения Черновик становится Завершенным Произведением.


<br>
В настоящем Соглашении могут быть использованы иные термины, выше не определенные, толкование которых будет производиться в соответствии с текстом Соглашения и/или Договора и/или применимым законодательством. В случае отсутствия однозначного толкования термина в тексте Соглашения и/или Договора и/или в применимом законодательстве, следует руководствоваться толкованием термина, сложившимся в сети Интернет и в практике делового оборота.

<br>

Лицензиар создает Части Произведений, по мере их создания передает Части Произведений Лицензиату и предоставляет Лицензиату право использовать Части Произведения (перечень и описание Черновиков, а также сроки создания и минимальный объем в отношении каждого Черновика, порядок их передачи Лицензиату, размер вознаграждения за использование Черновиков, срок завершения создания полного Произведения и/или иные условия в отношении Черновиков – доступны по адресу https://selfpub.ru/books/ способами, указанными в п.1.1 и 1.2 Договора. При этом все остальные пункты Договора и/или Приложений к Договору, в которых упоминаются Произведения, применимы также и к Частям Произведений, если настоящим Соглашением не предусмотрено иное.

<br>

1.1. По завершении создания Произведения, такое Завершенное (полное) Произведение может использоваться Лицензиатом всеми способами, указанными в п.1 Договора, а все дальнейшие отношения Сторон регулируются Договором и соответствующими Приложениями к Договору, если иное не указано в Соглашении.
<br>


1.2. Лицензиар предоставляет Лицензиату разрешение на обнародование Частей Произведений (Черновиков), если такие Части Произведений (Черновики) не были обнародованы ранее.
<br>

2. Стороны договорились дополнить пункт 5 Договора подпунктом 5.9:
<br>
«5.9. Особенности начисления и выплаты вознаграждения Лицензиару в отношении Частей Произведений (Черновиков) оговариваются в соответствующем Дополнительном соглашении к Договору».
<br>


3. Стороны договорились о следующих размерах и порядке выплаты вознаграждения за использование Черновиков:
<br>
3.1. 70% от сумм, полученных Лицензиатом при возмездном использовании Произведений, предоставленных Лицензиаром на условиях неисключительной лицензии согласно п. 1.2.2 Договора (с учетом условий, приведенных ниже):
<br>
3.1.1. При условии написания Лицензиаром Черновика в объеме менее, чем 55% от Планируемого объема Произведения, вознаграждение Лицензиару начисляется, но к выплате доступно не будет. 
<br>
3.1.2. При условии написания Лицензиаром Черновика в объеме 55% - 74% от Планируемого объема Произведения, вознаграждение Лицензиару начисляется. По результатам закрытия Отчетного периода к выплате будет доступно 55% от начисленного вознаграждения по данному Произведению.
<br>
3.1.3. При условии написания Лицензиаром Черновика в объеме 75% - 99% от Планируемого объема Произведения, вознаграждение Лицензиару начисляется. По результатам закрытия Отчетного периода к выплате будет доступно 75% от начисленного вознаграждения по данному Произведению.
<br>
3.1.4. При условии написания Лицензиаром Черновика в полностью (100%) Планируемом объеме Произведения (создание Завершенного Произведения), вознаграждение Лицензиару начисляется. По результатам закрытия Отчетного периода к выплате будет доступно полностью (100%) начисленное вознаграждение по данному Произведению.
<br>
3.1.5. Стороны договорились, что процент фактического объема опубликованного Лицензиаром Произведения определяется путем деления количества написанных и опубликованных символов этого Произведения на Планируемый объем Произведения.

<br>

4. Публикация каждого Черновика осуществляется в соответствии с Правилами публикации Черновиков
<br>
4.1. Лицензиар обязуется завершить создание Произведения (создать Завершенное Произведение) в течение 6 месяцев с даты публикации первой Части Произведения.
<br>
4.2. Лицензиар обязуется создавать Произведение в Планируемом объеме Произведения, и размещать Черновик, соблюдая Периоды обновления Черновика.
<br>
4.3. В случае нарушения Правил публикации Черновиков, описанных в разделе https://selfpub.ru/faq/chernoviki/ , Лицензиат вправе осуществить следующее:
<br>
4.3.1. При нарушении Лицензиаром Периода обновления Черновика, вознаграждение, начисленное за такой Черновик на счету Лицензиара, блокируется;
<br>
4.3.2. При нарушении Лицензиаром Периода обновления Черновика более чем на 60 календарных дней, вознаграждение, начисленное за такой Черновик на счету Лицензиара, обнуляется, Черновик снимается с размещения.
<br>
4.4. В случае возникновения обстоятельств, препятствующих, по мнению Лицензиара, надлежащему исполнению им своих обязанностей по настоящему Соглашению, Лицензиар вправе уведомить письмом Лицензиата (на почту support@selfpub.ru) о том, что он не может завершить Черновик (создать Завершенное Произведение) в установленный в п.4.2 срок, по независящим от Лицензиара обстоятельствам. В таких случаях, по усмотрению Лицензиата, сроки публикации Черновика могут быть продлены, а вышеуказанные санкции могут к Лицензиару не применяться.
<br>


5. Во всем остальном Стороны руководствуются положениями Договора, иных действующих Дополнительных соглашений и Приложений к Договору.
<br>

6. Соглашение является неотъемлемой частью Договора, иных действующих Дополнительных соглашений и Приложений к Договору. В случае, если положения настоящего Соглашения будут противоречить положениям Договора и/или иных действующих Дополнительных соглашений к Договору и/или Приложений к Договору, преимущественную силу будут иметь положения настоящего Соглашения. Во избежание сомнений, такая оговорка применима исключительно в отношении Частей Произведений (Черновиков).

<br>



Приложение № 3
<br>
К ЛИЦЕНЗИОННОМУ ДОГОВОРУ-ОФЕРТЕ
<br>

Администрация сайта, («Лицензиат»), с одной стороны, и Вы («Лицензиар»), с другой стороны (далее — «Стороны»), заключили настоящее Дополнительное соглашение (далее – «Соглашение», «настоящее Соглашение») к Лицензионному договору-оферте (далее – «Договор»), о нижеследующем:
<br>
Настоящее Соглашение дополняет Договор особыми условиями, регулирующими отношения Сторон в части использования фонограмм исполнений литературных произведения (аудиокниг). 
<br>
В Соглашении и/или приложениях к нему Стороны согласились с однозначным толкованием терминов и понятий (поскольку такие термины и/или понятия не определены в Договоре):
<br>


Исполнитель – физическое лицо, своим творческим трудом непосредственно осуществившее Исполнение Произведения.
<br>
Исполнение – представление Произведения посредством художественного чтения вслух (декламации);
<br>
Фонограмма Исполнения – исключительно звуковая запись Исполнения;
<br>
Изготовитель Фонограммы – лицо, осуществившие первую запись звуков Исполнения Произведения.
<br>
Аудиозапись (Аудиокнига) – Фонограмма Исполнения Произведения, созданная Лицензиаром и/или привлеченными им третьими лицами и переданная Лицензиату; или созданная Лицензиатом и/или привлеченными им третьими лицами – в порядке, определенном настоящим Соглашением.

<br>

В настоящем Соглашении могут быть использованы иные термины, выше не определенные, толкование которых будет производиться в соответствии с текстом Соглашения и/или Договора и/или применимым законодательством. В случае отсутствия однозначного толкования термина в тексте Соглашения и/или Договора и/или в применимом законодательстве, следует руководствоваться толкованием термина, сложившимся в сети Интернет и в практике делового оборота.

<br>

1. Отношения Сторон по настоящему Соглашению выстраиваются следующим образом (по выбору Лицензиара – согласно п.1.1 и/или 1.2 ниже):
<br>
1.1. Лицензиар самостоятельно (своими силами) и/или силами привлеченных им третьих лиц (за действия/бездействие таких привлеченных Лицензиаром третьих лиц Лицензиар несет ответственность перед Лицензиатом и/или иными третьими лицами в полном объеме согласно соответствующим условиям Договора, определяющими ответственность Лицензиара) создает Аудиокниги и Лицензиату предоставляет права использования Аудиокниг в порядке, на условиях и всеми способами, указанными в соответствующих положениях Договора и/или соответствующих Приложениях к Договору, определяющих порядок, условия и способы использования Произведений. 
<br>
При этом передача таких Аудиокниг и предоставление прав на них осуществляется прямым акцептованием Лицензиатом специальных условий передачи Аудиокниг и предоставления прав их использования – в личном кабинете Лицензиара: selfpub.ru
<br>
1.2. Лицензиар предоставляет Лицензиату в отношении Произведений (как переданных по Договору ранее, так и новых) права использования (в дополнение ко всем способам использования Произведений, указанных в соответствующих положениях Договора и/или соответствующих Приложениях к Договору): способами воспроизведения в форме звукозаписи (любым ныне известным или изобретенном в будущем способом, включая, но не ограничиваясь роботизированной озвучкой и т.п.); самостоятельно (своими силами или силами привлеченных Лицензиатом третьих лиц) создавать на основе текстов Произведений Аудиокниги и использовать такие созданные Лицензиатом Аудиокниги всеми способами, указанными в соответствующих положениях Договора и/или соответствующих Приложениях к Договору. В этом случае в отношении Аудиокниги Лицензиар будет являться правообладателем (обладателем исключительного права или исключительной лицензии) на Исполнение, а также обладателем исключительного права на Фонограмму (Изготовителем Фонограммы).
<br>
При этом предоставление прав использования Произведений вышеуказанными способами осуществляется прямым акцептованием Лицензиатом специальных условий предоставления прав – в личном кабинете Лицензиара: selfpub.ru.
<br>

2. Розничная Цена (цена реализации конечному пользователю) на каждую Аудиокнигу (как созданную Лицензиаром и переданную Лицензиату, так и созданную Лицензиатом согласно настоящему Соглашению) во всех случаях устанавливается Лицензиатом самостоятельно по своему усмотрению.

<br>

3. Вознаграждение Лицензиара за использование Аудиокниг рассчитывается согласно положениям Договора и/или соответствующим Приложениям к Договору – от фактически полученного дохода Лицензиара (сумм, фактически уплаченных конечными пользователями).

<br>

4. Срок действия предоставленных прав использования Аудиокниг – 12 (Двенадцать) месяцев с момента начала их предоставления, с автопролонгацией на тот же срок (при отсутствии обращения Лицензиара с уведомлением о своем нежелании пролонгации в службу поддержки Лицензиата – по адресу support@selfpub.ru не позднее, чем за 1 календарный месяц до истечения срока предоставления прав). Количество автопролонгаций не ограничено.

<br>

5. В отношении использования Аудиокниг Лицензиар имеет все права, предусмотренные Договором и/или иными Приложениями и/или Дополнительными соглашениями к Договору в отношении использования всех Произведений (включая, но не ограничиваясь, право предоставлять сублицензии любым третьим лицам и т.п.).


<br>
6. Лицензиар (помимо всех заверений, гарантий и ответственности в отношении всех предоставленных по Договору Произведений) также заверяет гарантирует и несет ответственность за всю полноту прав на созданные Лицензиаром и/или привлеченными им третьими лицами Аудиокниги, включая, но не ограничиваясь, соблюдение прав и законных интересов Исполнителей и/или Изготовителей Фонограмм. При этом Лицензиар обязуется самостоятельно и за свой счет (без привлечения Лицензиата) урегулировать все и любые предъявляемые к Лицензиату требования/претензии/иски со стороны любых третьих лиц (включая, но не ограничиваясь, правообладателей, судебных органов, органов власти и т.п.), связанные с использованием Лицензиатом Аудиокниг и возместить последнему все понесенные им убытки (включая, но не ограничиваясь, компенсации, штрафы и т.п.).

<br>

7. Во всем остальном Стороны руководствуются положениями Договора, иных действующих Дополнительных соглашений и/или Приложений к Договору.


<br>
8. В случае, если положения настоящего Соглашения будут противоречить положениям Договора и/или иных действующих Дополнительных соглашений к Договору и/или Приложений к Договору, преимущественную силу будут иметь положения настоящего Соглашения. Во избежание сомнений, такая оговорка применима исключительно в отношении Аудиокниг.

<br>

9. Соглашение является неотъемлемой частью Договора, иных действующих Дополнительных соглашений и Приложений к Договору.

<br>

Приложение № 4
<br>
К ЛИЦЕНЗИОННОМУ ДОГОВОРУ-ОФЕРТЕ
<br>


Администрация сайта, («Лицензиат»), с одной стороны, и Вы («Лицензиар»), с другой стороны (далее — «Стороны»), заключили настоящее Дополнительное соглашение (далее – «Соглашение», «настоящее Соглашение») к Лицензионному договору-оферте (далее – «Договор»), о нижеследующем:
<br>
Настоящее Соглашение дополняет Договор особыми условиями, регулирующими отношения Сторон в части использования Произведений по модели «Подписка»: 
<br>
В Соглашении и/или приложениях к нему Стороны согласились с однозначным толкованием терминов и понятий (поскольку такие термины и/или понятия не определены в Договоре):

<br>

Модель «Подписка» - предоставление Пользователям возмездного доступа к Каталогу (перечню Произведений) в течение определенного (месячного) периода Подписки (Пользователь, оплативший Подписку, имеет возможность слушать любые выбранные им Произведения из Каталога в период действия этой Подписки).

<br>

Дополнительные определения для модели «Подписка», а также формула расчёта доли использования произведений Лицензиара в закончившейся Подписке и пример такого расчёта размещены на сайте litres.ru.
<br>


1. Перечень Произведений. Размер вознаграждения
<br>
1.1. Наименование, количество, прочая информация (за исключением условий расчета вознаграждения Лицензиара) в отношении Произведений, используемых по настоящему Приложению, указываются в п.1 Договора.
<br>
1.2. При использовании Произведений по модели «Подписка», вознаграждение за отчетный период рассчитывается только за те Подписки, периоды действия которых закончились в этот отчетный период. Размер вознаграждения за каждое Произведение, использованное в Подписке, равен произведению множителей: (Доля использования Произведения в Подписке) * (Доход Лицензиата от Подписки) * (Ставка Лицензиара от Дохода в Подписке). То есть формула: (г)*(д)*(е). Размер вознаграждения, подлежащего перечислению Лицензиатом Лицензиару (без НДС) с каждой такой Подписки, равен сумме вознаграждений за все Произведения Лицензиара, использованные в Подписке. Размер вознаграждения, подлежащего перечислению Лицензиатом Лицензиару (без НДС) за отчетный Период, равен сумме вознаграждений Лицензиара по всем Подпискам, закрытым в данном отчетном периоде. При этом Пользователь может прослушать/прочитать за период каждой Подписки неограниченное количество Произведений (фрагментов Произведений) доступных в Подписке.
<br>
1.3. Каждому Пользователю, установившему Мобильное приложение, предоставляется Ознакомительный период (без начисления Лицензиару вознаграждения): в течение 7 (семи) календарных дней с момента установки Мобильного приложения на свое устройство такой Пользователь имеет возможность бесплатно ознакомиться с любыми Произведениями из Каталога. Если по истечении Ознакомительного периода такой Пользователь не откажется от дальнейшего использования Мобильного приложения по правилам мобильной платформы AppStore, Google Play Market, то, начиная со следующего дня после окончания Ознакомительного периода (на восьмой день с момента установки Мобильного приложения), для такого Пользователя начинается отсчет периода Подписки (платного использования Произведений).
<br>


2. Статистика
<br>
2.1. Лицензиат предоставляет Лицензиару круглосуточный доступ к статистике использования Произведений, размещенной в Личном кабинете Лицензиара.
<br>
2.2. Лицензиат обязуется обеспечивать техническую возможность получения Лицензиаром доступа к указанной статистике в течение всего периода действия Договора.

<br>

3. Заключительные положения
<br>
3.1. Настоящее Приложение является неотъемлемой частью Договора.


</article>