<h1>Первые шаги по работе с сервисом</h1>
<p>
    Чтобы начать публиковать свои книги на нашем сайте, нужно пройти регистрацию. Публикация книг бесплатна для всех авторов, мы принимаем к публикации любые книги любых жанров и объема (если содержание не противоречит законодательству РФ).
</p>
<h2>Профиль пользователя</h2>
<p>
    Наш сайт позволяет независимым авторам выставлять свои книги как для бесплатного прочтения. Чтобы выставлять свои книги на сайте, необходимо заполнить и подтвердить персональные данные автора. Это можно сделать в разделе Профиль
</p>
<p>
    Проверка профиля необходима для подтверждения согласия автора с условиями <a href="/contract" target="_blank">договора-оферты</a> 
</p>
<p>
    Как подтвердить профиль?
Войдите в Личный кабинет, используя адрес электронной почты и пароль, указанные при регистрации.
Перейдите в раздел «Профиль». Для этого нажмите на иконку профиля на панели навигации.
Впишите ваши настоящие имя, фамилию, отчество и дату рождения в блок «Ваши данные». Необходимо указать реальные данные. Эти сведения будут храниться в нашей базе, но читатели их не увидят. Если вы пишете под псевдонимом
Сделайте фотографию, на которой вы держите в руках удостоверение личности. Фотография должна быть сделана так, чтобы четко было видно ваше лицо и основной разворот удостоверения личности (с фотографией) целиком, чтобы мы могли сличить введённые вами данные с фото. Пожалуйста, не затирайте и не убирайте никакие поля. Мы не храним ваши фотографии и паспортные данные, сразу после проверки профиля данные удаляются.
Граждане РФ могут использовать для подтверждения профиля только паспорт гражданина РФ.
Загрузите фотографию или скан первой страницы документа, удостоверяющего личность, в соответствующее поле.
ВНИМАНИЕ: На загруженных фотографиях должны быть четко видны данные, внесенные в блоки «Ваши данные» и «Документ, удостоверяющий личность». Если необходимая информация находится на другой странице документа, загрузите фотографию или скан дополнительной страницы.
Отметьте, что подтверждаете ознакомление с Политикой сервиса в отношении использования персональных данных, и нажмите «Отправить на модерацию».
</p>
<section>
    <b>Сколько раз надо подтверждать профиль</b>
<p>Подтверждение профиля осуществляется один раз, в дальнейшем подтверждать данные не понадобится.</p>

<b>Это безопасно? Кто увидит данные?</b>
<p>Данные ваших документов увидит только модератор, который проверит соответствие введенных данных предоставленным копиям документов. Сразу после проверки мы удалим данные ваших документов, так как заботимся о вашей безопасности.</p>
<b>Как узнать, что профиль прошел проверку?</b>
<p>
    По итогам проверки вы получите письмо, что профиль подтвержден или в отправленных вами данных есть несоответствие.
    
    Если вы получили письмо с темой «Ваш профиль отклонен», скорее всего, вы неверно ввели данные при заполнении анкеты. Чтобы внести исправления, снова зайдите в раздел «Профиль» и ознакомьтесь с комментариями модераторов. Исправьте данные в соответствии с комментариями и снова отправьте профиль на проверку.
</p>

<b>С какого возраста можно публиковать произведения?</b>


<p>Авторам не достигшим возраста 14 лет, мы не можем предложить услуги по размещению книг. Авторам, которым исполнилось 14 лет, но они еще не достигли совершеннолетия, мы готовы предложить размещение книги для читателей бесплатно.</p>
</section>