<h1>Страница</h1>
{{#if isAuth}}
    <p>Вы авторизированы</p>
{{/if}}
<iframe src="https://drive.google.com/file/d/1wkn8DfgNF2bA24T-ifzkwEt81N3CPc2R/view?usp=sharing" width="700" height="400"></iframe>
