<h1 class="offset-s1">Интерактивные книги</h1>

<div id="interactives">
   {{#if interactives.length}}
   {{#each interactives}}
   <div class="row">
      <div class="card-container">
         <div class="card">
            <div class="card-content">
               <a href="/interactives/{{_id}}">
                  <h2 class="card-title">{{title}}</h2>
               </a>
               <span >{{authorId.name}}</span>
            </div>
         </div>
      </div>
   </div>
   {{/each}}
   {{else}}
   <p>Заявок пока нет</p>
   {{/if}}
</div>