* {
    margin: 0;
    padding: 0;
}

body{
    color: aliceblue;


    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.container{
    width: 70vw;
    min-width: 70%;
}

.wrapper{
    width: 100%;
    flex-grow: 1;
    background: #726e6e url('/images/54545454.jpg');
    background-size: cover;
}


body .wrapper > .container{
    padding: 50px;
    background: #494747a8;
    background-size: cover;
height: 100%;
}

nav .container{
    height: 100%;
}

.brand-logo, .fa-user{
    width: 64px;
    height: 64px;
}

.fa-user{
    flex: 0 0 100%;
    display: inline-block;
    margin-top: 20px;
}

.user-href{
    display: flex;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 32px;
    top: 20px;
    padding: 0;
}

.brand-logo img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.user-name{
    font-size: 1.5rem;
}

.avatar-container{
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
}

.avatar{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-info{
    min-width: 100%;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-form{
    max-width: 50%;
}

.profile-nav{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-nav li{
width: 100%;
background: rgba(0, 0, 0, 0.438);
margin-bottom: 1px;
display: inline-block;
}


.profile-nav .section{
    display: inline-block;
    min-width: 45%;
    width: 45%;
}

.profile-nav .section:not(:last-child){
    margin-bottom: .1rem;
}

.profile-nav a{
    text-align: center;
    font-size: 1.2rem;
    color: aliceblue;
    padding: .5rem;
    display: inline-block;
    width: 100%;
}
.profile-nav .section li:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-nav .section li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-nav .logout a{
    color: rgba(214, 51, 51, 0.747);
}

footer a{
    color:aliceblue;
}

.card-content, .card b{
    color: #000;
}

form *{
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav form{
    margin: 0 auto;
}

.page-footer, nav{
    background-color: #212121 ;
}

#accessCheckbox{
    display: inline-block;
    margin-bottom: 3rem;
}

.genres, .news{
    display: flex;
    justify-content: flex-start;
    margin: 0 -10px;
}

.genres > .row, .news > .row{
    flex: 0 0 25%;
    padding: 0 10px;
    margin: 1rem 0;
}

.news > .row{
    flex: 0 0 33.333%;
}

.genres .card-panel{
    min-height: 10rem;
}

.genres .card-panel{
    color:aliceblue;
}

.genres.all-genres > .row{
    flex: 0 0 33.333%;
}

.genres.all-genres{
    flex-wrap: wrap;
}

footer{
    flex-shrink: 0;
}

.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide{
      text-align: center;
  }

  .swiper-slide img{
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
  }

  .auth .row{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .auth .row > div.col{
    margin-left: 0;
}

  .tabs{
    margin: 0;
    background: rgba(114, 112, 112, 0.418);
  }

  #interactives .card-title{
      margin-top: 0;
  }

  #interactive *{
      color: #000;
  }

  .interactive-content{
      background: rgb(153, 150, 150);
      padding: 20px;
      border-radius: 10px 0 7px 10px;
  }

  #interactive .card-body{
        display: flex;
        flex-direction: column;
  }

  .interactive-answer{
        background: rgb(104, 102, 102);
        padding: 20px;
      border-radius: 0 10px  10px 7px ;
  }

  .user.interactive-answer{
    background: rgb(153, 150, 150);
    border-radius: 10px 0 7px 10px;
}

  .user.interactive-content{
    background: rgb(104, 102, 102);
    border-radius: 0 10px  10px 7px ;
  }

.interactive-content,  .interactive-answer{
    max-width: 40%;
}
.interactive-auth-input{
    margin-top: 20px;
}

  .interactive-answer p,  .interactive-content p{
      padding: .5rem;
  }

  .interactive-auth-input{
      display: flex;
      
  }

  .interactive-auth-input{
      background: rgb(138, 136, 136);
      
  }

  form.interactive-auth-input label{
    color:rgba(66, 65, 65, 0.644) !important;
  }

  .interactive-auth-input > .input-field{
      flex: 1 0 70%;
      padding: 1rem;
  }

  .interactive-auth-actions{
      flex: 0 1 30%;
      border-left: #eee 1px solid;
      padding: 1rem;
  }

  #interactive h6, #interactive h5{
      padding: 1rem;
  }

  .btn-mark{
      margin-right: 1rem;
  }

.mark-span{
    display: flex;
    align-items: center;
}